Django==4.2.7
django-import-export==3.3.4
whitenoise==6.6.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
python-decouple==3.8
Pillow==10.1.0
openpyxl==3.1.2
reportlab==4.0.6
dj-database-url==2.1.0
