<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir Recibo</title>
    <style>
        body {
            text-align: center;
            margin: 0;
        }
        img {
            width: 500px; /* largura padrão de impressora térmica */
            height: auto;
            margin: 0 auto;
        }
        @media print {
            body {
                margin: 0;
            }
        }
    </style>
    <script>
        window.onload = function() {
            setTimeout(() => window.print(),500);
        };
    </script>
</head>
<body>
    <img src="data:image/png;base64,{{ img_base64 }}" alt="Recibo">
</body>
</html>
